/*channel item card **/
.channel-item {
  cursor: pointer;
  //   height: 140px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  margin-top: 30px;

  border-radius: 10px;

  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

  &--content {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 110px;
    width: 100%;
    &--info {
      padding: 10px 10px;
      margin-left: 10px;

      h5 {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &--thumnail {
      border-radius: 10px;
      // box-shadow: 0px 3px 10px rgba(55, 84, 170, 0.25);
      img {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 50px;
      }
    }
  }
  &--footer {
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    &--left {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        object-fit: cover;
        border-radius: 50px;
      }
      p{
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &--right {
      display: flex;
      align-items: center;
      span {
        margin-right: 10px;
        color: #ccc;
      }
    }
  }
}

.channel-tag {
  display: flex;
  align-items: center;

  &--icon {
    margin-right: 8px;
    height: 15px;
    width: 10px;
    padding: 0px;
    -webkit-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);

    border-bottom: 5px solid transparent;
    &.red {
      border-left: 5px solid red;
      border-right: 5px solid red;
    }
    &.blue {
      border-left: 5px solid blue;
      border-right: 5px solid blue;
    }
    &.green {
      border-left: 5px solid green;
      border-right: 5px solid green;
    }
    &.yellow {
      border-left: 5px solid yellow;
      border-right: 5px solid yellow;
    }
  }
}
