/* Style Header */
.header {
  height: 56px;
  border: solid 1px #000000;
  background: rgba(255, 255, 255, 0.19);
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #eee;
  &-link {
    color: #000;
  }
}
/*End Style Header */
