//Screen Channel

/**
Channel List
*/
.channel {
  display: flex;
  &-list {
    width: 450px;
    height: calc(100vh - 60px);

    border-right: 1px solid #ccc;
    &--title {
      font-size: 20px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      padding: 10px 10px;
      text-align: center;
      align-items: center;
      border-bottom: 1px solid #ccc;

      button {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50px;
        height: 30px;
        width: 30px;
      }
      button:hover {
        background-color: #ccc;
      }
    }

    &--box {
      max-height: 88vh;
      overflow-y: auto;
      padding: 0px 20px;
      &--item {
        padding: 20px 10px;
        margin: 8px 0px;
        display: flex;
        border: 1px solid #ccc;
        border-radius: 10px;
      }
    }
  }
  /* Form input container**/
  &-contend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    &--box {
      h1 {
        //title of form input create channel
        margin-bottom: 50px;
        text-align: center;
      }
      position: relative;
      border-radius: 20px;
      padding: 40px;
      box-sizing: border-box;
      background: #ecf0f3;
      box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
      .ui.form input[type="text"],
      .ui.selection.dropdown,
      .ui.form textarea,
      .ui.form input[type="text"]:focus,
      .ui.selection.dropdown:focus,
      .ui.form textarea:focus {
        padding: 10px;
        padding-left: 20px;
        background: #ecf0f3;
        font-size: 14px;
        border-color: rgba(0, 0, 0, 0);
        border-radius: 20px;
        outline: none;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
      }
    }
  }
}

/*channel item card **/
.channel-item {
  cursor: pointer;
  height: 140px;

  padding: 20px;

  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  margin: 12px;
  margin-top: 30px;
  display: flex;
  color: #333333;
  // background: #f1f3f6;
  border-radius: 20px;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  background: #ecf0f3;
  // box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  &--info {
    padding: 10px 10px;
    margin-left: 10px;
    h5 {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p {
      font-size: 16px;
      padding: 8px px;
      max-width: 280px;
      max-height: 80px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow-wrap: break-word;
      white-space: pre-line;
      overflow: hidden;
    }
  }
  &--thumnail {
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(55, 84, 170, 0.25);
    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

/*btn create channel*/
.btn-submit {
  color: white;
  margin-top: 20px;
  background: #1da1f2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  border: none;
  width: 100%;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  &:hover {
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
}
