.channel {
  &--title {
    display: flex;
    border-right: 1px solid #eee;
    justify-content: space-between;
    padding: 10px 20px;
    h5 {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
