.message-input-container {
  padding: 20px;
  display: flex;
  position: relative;
  textarea {
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-height: 200px;
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    &:focus {
      background: rgba(255, 255, 255, 0.364);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

      border: 1px solid rgba(255, 255, 255, 0.31);
    }
    &:focus-visible {
      border: 1px solid rgba(255, 255, 255, 0.31);
      outline: unset;
    }
  }
  button {
    position: absolute;
    right: 20px;
    width: 50px;

    background: transparent;

    img {
      height: 30px;
    }
    &:focus {
      outline: unset;
    }
    &:focus-visible {
      outline: unset;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.19);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
    }
  }
}
